<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="background"></div>
    <div class="background bottom"></div>
    <header>
        <div id="nav">
            <ul>
                <li>
                    {{#if loggedIn}}
                    <a href="/">Home</a>
                    {{else}}
                    <a href="/login">Home</a>
                    {{/if}}
                </li>
                <li>
                    {{#if loggedIn}}
                    <a href="/dashboard">Dashboard</a>
                    {{else}}
                    <a href="/login">Dashboard</a>
                    {{/if}}
                </li>
                <li>
                    {{#if loggedIn}}
                    <a id="logout" href="/">Logout</a>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}


                </li>

            </ul>
            <div id="login-info">
                {{#if loggedIn}}
                    Logged in as: {{username}}
                {{/if}}
            </div>
        
        </div>
        
        <div id="logo-container">
            <div id="logo">
            Tech Blog
           </div>
           <div class="stripe"></div>
           <div class="stripe"></div>
           <div class="stripe"></div>
           <div class="stripe"></div>

        </div>
       
        
    </header>


    <main>
        {{{ body }}}
    </main>
      {{#if loggedIn}}
    <script src="/js/logout.js"></script>
      {{/if}}
</body>
</html>