        
        {{#each posts as |post|}}
        <div class="container">
            
            <div class="blog">
                <div class="title">
                    {{ post.title }}
                    <div class="post-info">
                        Posted by {{ post.user.username }} on {{format_date post.createdAt}}
                    </div>
                </div>
                <p>
                    {{ post.body }}
                </p>
                <a class="comment" href=/singlepost/{{post.id}}>Leave a comment</a>
              
            </div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          
        </div>
        {{/each}}