        
        {{#each posts as |post|}}
        <div class="container">
            
            <div class="blog">
                <div class="title">
                    {{ post.title }}
                    <div class="post-info">
                        Posted by {{ post.user.username }} on {{format_date post.createdAt}}
                    </div>
                </div>
                <p>
                    {{ post.body }}
                </p>
                
                
                <a class="posted-by" href=/singlepost/{{post.id}}>Leave a Comment</a>
            </div>
            {{#each comments as |comment|}}
             <div class="blog comment">
                <span class="comment-by">{{comment.user.username}}:</span> <span class="body">{{comment.body}}</span>
                <span class="posted-by">{{format_date comment.createdAt}}</span>
            </div>
            {{/each}}
            {{#if overflow}}
            <div class="blog comment">
                <a class="show-comments" href=/singlepost/{{post.id}}>Show all comments</a>
            </div>
            {{/if}}

            {{#if comments}}
            
            
            <div class="stripe comment"></div>
            <div class="stripe comment"></div>
            {{else}}
            <div class="stripe"></div>
            <div class="stripe"></div>
            {{/if}}
          
        </div>
        {{/each}}