        
      
        <div class="container">
            
            <div class="blog">
                <div class="title">
                    {{ post.title }}
                    <div class="post-info">
                        Posted by {{ post.user.username }} on {{format_date post.createdAt}}
                    </div>
                </div>
                <p>
                    {{ post.body }}
                </p>
              
            </div>
            
            {{#each post.comments as |comment|}}
            <div class="blog">
                <p>{{comment.body}}</p>
                <span class="comment">Posted by: {{comment.user.username}} on {{format_date comment.createdAt}}</span>
            </div>
            {{/each}}
            <div class="blog">
                <p>Comment Below:</p>
                <form action="/api/post/comment/" method="post">
                    <input type="hidden" name="user_id" value={{userid}}>
                    <input type="hidden" name="post_id" value={{post.id}}>
                    <textarea name="body"></textarea>
                    <button class="btn btn-primary" type="submit">submit</button>
                </form>

            </div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          
        </div>
